
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.connect{
  width: 100%;
  max-width: 375px;
}


.connect .logo{
  display: flex;
  justify-content: center;
} 

.connect .logo img{
  padding-top: 120px;
  padding-bottom: 200px;
  max-width: 280px;
}

.connect .connect-button {
  display: flex;
  width: 100%;
  justify-content: center;
}

.connect .connect-button button {
  border-radius: 10px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 180px;
  height: 60px;
  background-color: black;
  color:white;
  font-size: 2rem;
}



.carousel {
  overflow: hidden;
  max-width: 375px;
  position: relative;
  padding-bottom: 200px;
  max-height: fit-content;
  padding-top: 20px;
}

.carousel .carousel__item,
.carousel .carousel__item--hidden {
  display: none;
}

.carousel .carousel__item img {
  width: 100%;
  max-width: 480px;
  height: auto;
  min-height: 350px;
  max-height: 350px;
  object-fit: cover;
}

.carousel .carousel__item h1 {
  text-align: center;
  font-size: 2rem;
  color: #333;
  padding-top: 20px;
}

.carousel .carousel__item h2 {
  text-align: center;
  font-size: 2rem;
  color: black;
}

.carousel .carousel__item p {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px 70px;
  color: #333;
}

.carousel .carousel__item--visible {
  display: block;
  animation: fadeVisibility 0.5s;
}



.carousel .carousel__actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 80%;
}

.carousel .carousel__actions button {
  border-radius: 30px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 80px;
  height: 40px;
  background-color: black;
  color:white;
}

.carousel .carousel__actions button#carousel__button--prev {
  margin-left: 40px;
}

.carousel .carousel__actions button#carousel__button--next {
  margin-right: 40px;
}



@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: opacity linear;
  }
}
